[submodule "ssd1675"]
	path = vendor/ssd1675
	url = https://codeberg.org/Ranzbak/ssd1675.git
	branch = master
[submodule "meshcore"]
	path = vendor/meshcore
	url = https://codeberg.org/Ranzbak/meshcore-aegg-rust.git
